[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3.6.4"

[packages]

# Flask
Flask = "~=0.12.2"
Flask-API = "~=1.0"

# Storage

# Email

# Utilities
webargs = "~=1.5"

# Deployment
Flask-Script = "~=2.0"
gunicorn = "*"

[dev-packages]

# Linters
pylint = "~=1.7.5"
astroid = "~=1.5.3" # temporary to work around apparent regression in 1.6
pycodestyle = "*"
pydocstyle = "*"

# Testing
pytest = "~=3.3"
pytest-describe = "*"
pytest-expecter = "*"
pytest-cov = "*"
pytest-random = "*"
coverage-space = "*"

# Tooling
honcho = "*"
sniffer = "*"
pync = { version = "<2.0", sys_platform = "== 'darwin'" }
MacFSEvents = { version = "*", sys_platform = "== 'darwin'" }
