[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3.6"

[packages]

# Flask
Flask = "~=1.0"
Flask-API = "~=1.0"
Flask-Bootstrap = { git = "https://github.com/beenje/flask-bootstrap", ref = "bootstrap-v4" }

# Utilities
minilog = "*"

# Deployment
Flask-Script = "~=2.0"
gunicorn = "*"

[dev-packages]

# Linters
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"

# Testing
pytest = "~=5.0"
pytest-describe = "*"
pytest-expecter = "*"
pytest-randomly = "*"
pytest-cov = "*"
freezegun = "*"
coveragespace = "==4.0b1"

# Tooling
honcho = "*"
splinter = "*"
fire = "*"
sniffer = "*"
pync = { version = "<2.0", sys_platform = "== 'darwin'" }
MacFSEvents = { version = "*", sys_platform = "== 'darwin'" }
